<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
</head>
<body>
    <center>
        <h1>Here is the properties page with css features</h1>
        <h2>{{name}}</h2>

        <img src="{{url_for('static',filename='images/abc.jpg')}}" alt="" height="300px" width="300px"><br><br>
        <a href="{{url_for('send_html')}}">Go to html page</a>
    </center>
</body>
</html>